/* Footer Styling */
.footer {
    background: #383349;
    color: #fff;
    padding: 50px 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .footer.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

  }
  
  .footer-left,
  .footer-right {
    flex: 1;
    min-width: 280px;
  }
  
  .footer-logo img {
    max-width: 150px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .footer-callback h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .callback-form {
    display: flex;
    gap: 10px;
  }
  
  .callback-input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #211e29;
    color: #fff;
  }
  
  .callback-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #4ce0b3;
    color: #211e29;
    cursor: pointer;
  }
  
  .callback-submit:hover {
    background-color: #41c09e;
  }
  
  .footer-social {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .footer-social a {
    font-size: 1.2rem;
    color:white;
  }
  
  .footer-app-links img {
    max-height: 40px;
    margin: 1rem 0;
    cursor: pointer;
  }
  .footer-right{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    align-self: center;   
    justify-content: center;   
  }
  .footer-right .footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .footer-right .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-right .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-right .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-right .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9rem;
    color: #bbb;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-app-links img {
      max-height: 35px;
    }
  }
  